# Upstash Redis (for Vercel production)
# Get these from: https://console.upstash.com/
UPSTASH_REDIS_REST_URL=https://vocal-tortoise-89237.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAVyVAAIgcDIwNDc2ODExZTNmZWY0ODJkYTczY2NlOTg2OGZmOTdkZQ
